<nav class="navbar navbar-expand-md  navbar-inverse navbar-light bg-light fixed-top">

    <a class="navbar-brand" routerLink="home">
        <i class="fas fa-music"></i>
    </a>
    <!-- TOGGLER -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVBAR ITEMS -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" routerLink="spowty">SPOWTY</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="panel-list">MyList <i class="fas fa-play"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options <i class="fas fa-cogs"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="configurations">Configurations</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="report">Report some problems</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="chat">Chat<i class="ml-1 fas fa-comments"></i></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" (keyup)="search(busqueda.value)" #busqueda type="search" placeholder="Search some music..." aria-label="Search">
        </form>
    </div>
</nav>