.list-container {
    /*
    height: 82vh;
    width: 98vw;
    */
    height: 65vh;
    width: 98vw;
    overflow-x: hidden;
}

.container-newList-300 {
    left: 60px;
    bottom: -400px;
    -webkit-transition: bottom 1s;
}

.container-newList-0 {
    left: 60px;
    bottom: 0;
    -webkit-transition: bottom 1s;
}

.cdk-virtual-scroll-viewport {
    display: block;
    position: relative;
    overflow: auto;
    contain: strict;
    transform: translateZ(0);
    will-change: scroll-position;
    -webkit-overflow-scrolling: touch;
}