<div class="row" *ngIf="!_userService.userlogged" style="background: linear-gradient(to bottom right, #33ccff 27%, #990099 80%);">

    <div class="col-12 text-center rounded container-overview">

        <div class="bg-light m-4 pb-2 rounded">
            <h3 class="display-5 pt-2">Sign in With</h3>
            <hr>
            <button type="button" class="btn btn-danger btn-lg ml-5 mr-5 mt-3" (click)="loginSpowty('google')">
                <h1 class="display-5"><i class="fab fa-google-plus-square"></i></h1>
            </button>
            <!--
            <button type="button" class="btn btn-primary btn-lg ml-5 mr-5 mt-3" (click)="loginSpowty('facebook')">
                <h1 class="display-5"><i class="fab fa-facebook-square"></i></h1>
            </button>
        -->
            <button type="button" class="btn btn-info btn-lg ml-5 mr-5 mt-3" (click)="loginSpowty('twitter')">
                    <h1 class="display-5"><i class="fab fa-twitter-square"></i></h1>
                </button>
        </div>


    </div>

</div>