<div class="container animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4 center">Hi! and welcome to <i class="fas fa-music"></i></h1>
                    <p class="lead">
                        This web app is created only for practice, not commercial use for me. Using the
                        <a href="https://developer.spotify.com/documentation/web-api/"><span class="badge badge-secondary">Spotify API</span></a> to get some data from artists, albums, tracks...
                    </p>

                    <hr class="my-4">

                    <p>You can access to the code on GitHub <a href="https://github.com/LuisSantiagoLillo/spowty-webApp-angular.git"><span class="badge badge-secondary">code here</span></a></p>
                    <p>Visit my website for more projects <a href="https://portafolio-luis.herokuapp.com/"><span class="badge badge-info"><h2><i class="fab fa-angellist"></i></h2></span></a></p>
                </div>
                <div class="container mt-4">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3>Main concepts used: </h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Angular 2-6 and VirtualScroll from Angular 7 :0)</li>
                                    <li class="list-group-item">Single Page App</li>
                                    <li class="list-group-item">API RestFull</li>
                                    <li class="list-group-item">Bootstrap 4</li>
                                    <li class="list-group-item">Auth0 authentication</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-4">
                    <div class="row">
                        <div class="col">
                            <p>Designed and built with all the love in the world .</p>
                            <p>Code licensed MIT, docs <a href="https://creativecommons.org/licenses/by/3.0/"><span class="badge badge-light"><h4><i class="far fa-closed-captioning"></i></h4></span></a> BY 3.0.</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>