<div class="container">
    <div class="row">
        <div class="col-12">
            <app-common-error *ngIf="error" [title]="title" [message]="message" [color]="color"></app-common-error>
        </div>
        <div class="col">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <img class="d-block w-100" src="../../../assets/img/iconConfigurations/config.png" alt="First slide" class=" rounded float-left img-50">
                              <h2><span class="badge badge-secondary ml-3">List</span></h2>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputState">Select the List</label>
                                        <select id="selectList" class="form-control" (change)="changeInputList()">
                                          <option selected disabled></option>
                                          <option *ngFor="let list of myLists" value="{{list.name}}">{{list.name}}</option>
                                    </select>
                                    </div>
                                    <fieldset class="col" disabled *ngIf="optionDrop">
                                        <div class="form-group col">
                                            <label for="inputZip">Rename</label>
                                            <input type="text" class="form-control" id="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="inputZip">New description</label>
                                            <input type="text" class="form-control" id="">
                                        </div>
                                    </fieldset>
                                    <fieldset class="col" *ngIf="!optionDrop">
                                        <div class="form-group col">
                                            <label for="inputZip">Rename <span  class="badge badge-danger">* Required</span></label>
                                            <input type="text" class="form-control" placeholder="{{this.listName}}" id="listName">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="inputZip">New description</label>
                                            <input type="text" class="form-control" placeholder="{{this.listDescription}}" id="listDescription">
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <button type="" class="btn btn-primary mt-2 mr-5" (click)="listChanged()" [ngClass]="{'btn-danger' : optionDrop}">{{this.listMessage}}</button>

                                        <input class="form-check-input" type="checkbox" id="gridCheck" (click)="optionChanged()">
                                        <label class="form-check-label" for="gridCheck">
                                          Drop the list selected
                                    </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <img class="d-block w-100" src="../../../assets/img/iconConfigurations/notifications.png" alt="First slide" class=" rounded float-left img-50">
                              <h2><span class="badge badge-secondary ml-3">Notifications</span></h2>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                            beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <img class="d-block w-100" src="../../../assets/img/iconConfigurations/camera.png" alt="First slide" class=" rounded float-left img-50">
                              <h2><span class="badge badge-secondary ml-3">User Profile</span></h2>
                           </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <form (ngSubmit)="saveForm(forma)" #forma="ngForm" novalidate="">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputNickUser">Nick</label>
                                        <input type="text" minlength="4" class="form-control" id="inputNickUser" [(ngModel)]="user.nick" name="nick" #nick="ngModel" required placeholder="Mozart1756">
                                        <div *ngIf="nick.errors?.minlength">
                                            <span class="badge badge-info">This field require {{nick.errors.minlength.requiredLength}} characters or more.</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputNameUser">Name</label>
                                        <input type="text" class="form-control" id="inputNameUser" [(ngModel)]="user.name" name="name" required placeholder="Wolfgang">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputLastNameUser">Last name</label>
                                        <input type="text" class="form-control" id="inputLastNameUser" [(ngModel)]="user.lastName" name="lastName" required placeholder="Mozart">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputAgeUser">Age</label>
                                        <input type="number" min="1" max="100" class="form-control" [(ngModel)]="user.age" name="age" required id="inputAgeUser">
                                    </div>
                                    <div class="form-group col">
                                        <label for="inputEmailUser">Email</label>
                                        <input type="email" class="form-control" id="inputEmailUser" [(ngModel)]="user.email" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required placeholder="Mozart_1756@email.es">
                                        <div *ngIf="email.errors?.pattern">
                                            <span class="badge badge-info">Not correct format.</span>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg animation" [disabled]="!forma.valid" [ngClass]="{'btn-danger btn-sm' : !forma.valid}">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>