<!-- LISTS OF MUSIC -->
<div class="container-fluid animated fadeIn">
    <button class="btn btn-dark mb-2 active" type="button" aria-expanded="true" aria-pressed="true" (click)="collapseList()">
            <i class="fas fa-compress"></i> {{this.stringCollapse}}
    </button>
    <div class="row animated fadeIn" *ngIf="collapse">
        <div class="col-12">
            <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let list of myLists">
                    <button type="button" class="btn btn-light text-center mt-1" routerLinkActive="active" [routerLink]="list.name">{{list.name | uppercase}}</button>
                </li>
            </ul>
            <div class="list-group">
            </div>
        </div>
    </div>

    <div *ngIf="myLists.length == 0">
        <div class="jumbotron">
            <h2><strong>We can't found any list.</strong></h2>
            <h3>You need to click on "New List" to create you own music list and then add some music tracks.</h3>
            <h3>Or click <button type="button" class="btn btn-lg btn-dark" (click)="newListHide = !newListHide">here</button> to create your new list.</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>





    <!--
            <div class="col">
                <ul class="list-group" *ngFor="let list of myLists">
                    <a class="btn btn-sm btn-primary mt-2" data-toggle="collapse" href="#{{list.name}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <li class="list-group-item active">{{list.name | titlecase}}</li>
                    </a>
                    <ul class="collapse" id={{list.name}}>
                        <li class="list-group-item" *ngFor="let item of list.items">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button (click)="removeItem(item.name, item.idTrack)" class="btn btn-danger m-2">X</button>
                                </div>
                                <iframe [src]="item.idTrack | domsecure" class="" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                <div class="input-group-prepend">
                                </div>
                            </div>
                        </li>
                    </ul>
                </ul>
            </div>
-->
</div>


<!-- MODAL CREATE A NEW LIST -->
<div style="max-width: 20rem;" class="container fixed-bottom mb-5 mr-4 ml-4 animated fadeIn" [ngClass]="{'container-newList-300': !newListHide, 'container-newList-0': newListHide}" id="container-newList">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-lg btn-dark" (click)="newListHide = !newListHide">New List</button>
        </div>
        <div class="col">
            <app-common-error *ngIf="error" [title]="title" [message]="message" [color]="color"></app-common-error>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col bg-light rounded border border-dark">
            <form class="mt-2 mb-2">
                <div class="form-group">
                    <label>List Name <small>*required</small></label>
                    <input type="text" class="form-control" id="name" placeholder="The name of your new list...">
                    <small class="form-text text-muted">You will add new music to your list by the name.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <input type="text" class="form-control" id="desc" placeholder="A simple description...">
                </div>

                <button type="button" class="btn btn-primary btn-block" (click)="createNewList()">Create</button>
            </form>
        </div>
    </div>
</div>
<!------------------------------------------------------>